@import "./reset";
@import "./fonts";
@import "./colors";

:root {
  font-size: 16px;
  font-family: var(--font-text);
}

@media screen and (min-width: 320px) {
 :root {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  :root {
    font-size: 22px;
  }
}